<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT fastTrack ANY>
<!ATTLIST fastTrack id ID #REQUIRED>
<!ELEMENT ftAccount ANY>
<!ATTLIST ftAccount id ID #REQUIRED>
<!ELEMENT ftBasket ANY>
<!ATTLIST ftBasket id ID #REQUIRED>
<!ELEMENT ftCatalog ANY>
<!ATTLIST ftCatalog id ID #REQUIRED>
<!ELEMENT ftCategory ANY>
<!ATTLIST ftCategory id ID #REQUIRED>
<!ELEMENT ftChangePassword ANY>
<!ATTLIST ftChangePassword id ID #REQUIRED>
<!ELEMENT ftCheckout ANY>
<!ATTLIST ftCheckout id ID #REQUIRED>
<!ELEMENT ftForgotPassword ANY>
<!ATTLIST ftForgotPassword id ID #REQUIRED>
<!ELEMENT ftLogin ANY>
<!ATTLIST ftLogin id ID #REQUIRED>
<!ELEMENT ftProduct ANY>
<!ATTLIST ftProduct id ID #REQUIRED>
<!ELEMENT ftReceipt ANY>
<!ATTLIST ftReceipt id ID #REQUIRED>
<!ELEMENT ftStore ANY>
<!ATTLIST ftStore id ID #REQUIRED>
]>
<root id="-1">
  <ftStore id="1099" key="ce4fb17b-d1f1-48c1-836a-b9bbf366acc3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Store" urlName="store" path="-1,1099" isDoc="" nodeType="1089" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1064" nodeTypeAlias="ftStore" isPublished="true">
    <storeName><![CDATA[FastTrack Store]]></storeName>
    <brief><![CDATA[<p>Example store which has been developed to help get you up and running quickly with Merchello. 
                                            It's designed to show you how to implement common features, and you can grab the source code from here, just fork/clone/download and open up Merchello.sln</p>]]></brief>
    <featuredProducts><![CDATA[f1f4f07f-56bb-443d-b4d3-778b269d418d]]></featuredProducts>
    <ftCatalog id="1100" key="de5f5187-e567-4f6b-a9c4-40229cdfb732" parentID="1099" level="2" creatorID="0" sortOrder="0" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Catalog" urlName="catalog" path="-1,1099,1100" isDoc="" nodeType="1081" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1056" nodeTypeAlias="ftCatalog" isPublished="true">
      <categories><![CDATA[c0d77285-86f3-4b10-aa1c-d62972c6ccfd]]></categories>
      <ftCategory id="1101" key="4681daa8-3efe-4b3e-abff-c62d7ade973a" parentID="1100" level="3" creatorID="0" sortOrder="0" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Funny T-Shirts" urlName="funny-t-shirts" path="-1,1099,1100,1101" isDoc="" nodeType="1082" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1057" nodeTypeAlias="ftCategory" isPublished="true">
        <products><![CDATA[284b9fb6-acad-4346-8f09-dfe452dbcf60]]></products>
      </ftCategory>
      <ftCategory id="1102" key="65454dbb-9673-4fa5-a0b8-8816524cbab2" parentID="1100" level="3" creatorID="0" sortOrder="1" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Geeky T-Shirts" urlName="geeky-t-shirts" path="-1,1099,1100,1102" isDoc="" nodeType="1082" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1057" nodeTypeAlias="ftCategory" isPublished="true">
        <products><![CDATA[10ed5060-274c-4f5f-a1db-e163729ae6bc]]></products>
      </ftCategory>
      <ftCategory id="1103" key="acce1407-149e-488c-9651-270ba70fa6a4" parentID="1100" level="3" creatorID="0" sortOrder="2" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Sad T-Shirts" urlName="sad-t-shirts" path="-1,1099,1100,1103" isDoc="" nodeType="1082" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1057" nodeTypeAlias="ftCategory" isPublished="true">
        <products><![CDATA[d890346f-21b9-4e24-9ef0-d69bb6fa747a]]></products>
      </ftCategory>
    </ftCatalog>
    <ftBasket id="1104" key="cbc93643-0f78-4c4e-a236-dc93dac9410a" parentID="1099" level="2" creatorID="0" sortOrder="1" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Basket" urlName="basket" path="-1,1099,1104" isDoc="" nodeType="1080" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1055" nodeTypeAlias="ftBasket" isPublished="true" />
    <ftCheckout id="1105" key="323e8b52-34db-4fc9-9c98-1543d7ae6f69" parentID="1099" level="2" creatorID="0" sortOrder="2" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Checkout" urlName="checkout" path="-1,1099,1105" isDoc="" nodeType="1084" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1051" nodeTypeAlias="ftCheckout" isPublished="true">
      <checkoutStage><![CDATA[BillingAddress]]></checkoutStage>
      <ftCheckout id="1106" key="c8c06b86-8872-4ec8-b139-32a231b3c070" parentID="1105" level="3" creatorID="0" sortOrder="0" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Shipping Address" urlName="shipping-address" path="-1,1099,1105,1106" isDoc="" nodeType="1084" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1069" nodeTypeAlias="ftCheckout" isPublished="true">
        <checkoutStage><![CDATA[ShippingAddress]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1107" key="b550b754-3268-4bb7-a148-2b306c923a6b" parentID="1105" level="3" creatorID="0" sortOrder="1" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Ship Rate Quote" urlName="ship-rate-quote" path="-1,1099,1105,1107" isDoc="" nodeType="1084" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1068" nodeTypeAlias="ftCheckout" isPublished="true">
        <checkoutStage><![CDATA[ShipRateQuote]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1108" key="3672ba7a-fa76-4792-9847-485aa415f910" parentID="1105" level="3" creatorID="0" sortOrder="2" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Payment Method" urlName="payment-method" path="-1,1099,1105,1108" isDoc="" nodeType="1084" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1066" nodeTypeAlias="ftCheckout" isPublished="true">
        <checkoutStage><![CDATA[PaymentMethod]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1109" key="5427f190-3326-421b-9dd3-ff4beaa9e5b7" parentID="1105" level="3" creatorID="0" sortOrder="3" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Payment" urlName="payment" path="-1,1099,1105,1109" isDoc="" nodeType="1084" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1065" nodeTypeAlias="ftCheckout" isPublished="true">
        <checkoutStage><![CDATA[Payment]]></checkoutStage>
      </ftCheckout>
    </ftCheckout>
    <ftReceipt id="1110" key="bd3ec6b6-1156-4b1a-a476-3111c54da918" parentID="1099" level="2" creatorID="0" sortOrder="3" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Receipt" urlName="receipt" path="-1,1099,1110" isDoc="" nodeType="1088" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1063" nodeTypeAlias="ftReceipt" isPublished="true" />
    <ftLogin id="1111" key="6dcbc57e-6913-4a0b-866e-f7b9e24fa8c8" parentID="1099" level="2" creatorID="0" sortOrder="4" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Login" urlName="login" path="-1,1099,1111" isDoc="" nodeType="1086" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1061" nodeTypeAlias="ftLogin" isPublished="true" />
    <ftForgotPassword id="1112" key="6243be04-c095-4032-968e-b929817e1bfc" parentID="1099" level="2" creatorID="0" sortOrder="5" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Forgot Password" urlName="forgot-password" path="-1,1099,1112" isDoc="" nodeType="1085" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1060" nodeTypeAlias="ftForgotPassword" isPublished="true" />
    <ftAccount id="1113" key="77a6e8ce-fbde-4d0f-83d3-37f5b25fcef3" parentID="1099" level="2" creatorID="0" sortOrder="6" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Account" urlName="account" path="-1,1099,1113" isDoc="" nodeType="1079" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1054" nodeTypeAlias="ftAccount" isPublished="true">
      <ftChangePassword id="1114" key="afafbbbe-3c6b-427e-b76e-e9be6e6597a9" parentID="1113" level="3" creatorID="0" sortOrder="0" createDate="2019-04-18T09:17:17" updateDate="2019-04-18T09:17:17" nodeName="Change Password" urlName="change-password" path="-1,1099,1113,1114" isDoc="" nodeType="1083" creatorName="Michael Bell" writerName="Michael Bell" writerID="0" template="1058" nodeTypeAlias="ftChangePassword" isPublished="true" />
    </ftAccount>
  </ftStore>
</root>